<div class="container" style="text-align:center; width:100%">
    <h1 class="text-center title">{{t "title.reserve"}}</h1>
    <div class="box">
    <div class="form columns is-centered">
        <div class="field column is-4 is-centered"> <label for="">{{t "reserve.chooseDates"}}</label>
            {{date-range-picker
                start=(readonly editRequest.startDay)
                end=(readonly editRequest.endDay)
                applyAction=(action "setDateRange")
                hideAction=(action "hideDatePicker")
                cancelAction=(action "cancelDatePicker")  
            }}
        </div>
    </div>
    <div class="control has-text-centered" style="margin-top:10px;">
        <button class="button is-primary is-rounded is-focused has-text-centered" {{action 'recordHoliday'}} disabled={{isDisabled}}>{{t "reserve.button"}}</button>
    </div>
    </div>
</div>
{{yield}}