{{yield}}
<nav class="navbar">
  <img id="logo" alt="Logo_hand" src="/assets/img/logo-01.png">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        {{t "navbar.menu"}}
      </button>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <div class="nav" id="edit-navbar">
        
        {{#if currentUser.user}}
          {{#if currentUser.user.isWorker}}
            {{#link-to 'reserve' tagName="a" class="navbar-item"}}<a href="" class="" id="navbar_item">{{t "navbar.reserve"}}</a>{{/link-to}}
            {{#link-to 'calendar_page' tagName="a" class="navbar-item"}}<a href="" class="" id="navbar_item">{{t "navbar.calendar"}}</a>{{/link-to}}
            {{#link-to 'user_page' tagName="a" class="navbar-item"}}<a href="" class="" id="navbar_item">{{t "navbar.myHolidays"}}</a>{{/link-to}}
          {{else}}
            {{#basic-dropdown as |dropdown|}}
              <div class="navbar-item" >{{#dropdown.trigger}} <a href="#" id="navbar_item" style="padding-top:65%; margin-right:30px;">{{t "navbar.requests"}}</a>{{/dropdown.trigger}}</div>
              {{#dropdown.content}} {{#link-to 'all_requests' tagName="a" class="navbar-item"}}<a href="">{{t "navbar.all"}}</a>{{/link-to}}{{#link-to 'pending_requests' tagName="a" class="navbar-item"}}<a href="">{{t "navbar.pending"}}</a>{{/link-to}} {{/dropdown.content}}
            {{/basic-dropdown}}
            {{#if currentUser.user.isAdmin}}
            {{#link-to 'admin_users' tagName="a" class="navbar-item"}}<a href="" id="navbar_item">{{t "navbar.users"}}</a>{{/link-to}}
            {{/if}}
            <!-- /{{#link-to 'admin_others' tagName="a" class="navbar-item"}}<a href="" id="navbar_item">Others</a>{{/link-to}}-->
            {{#link-to 'calendar_page' tagName="a" class="navbar-item"}}<a href="" id="navbar_item">{{t "navbar.calendar"}}</a>{{/link-to}}
            {{#link-to 'reserve' tagName="a" class="navbar-item"}}<a href="" class="" id="navbar_item">{{t "navbar.reserve"}}</a>{{/link-to}}
          {{/if}}
        {{/if}}
        {{#if session.isAuthenticated}}
        {{#link-to 'login' tagName="a" class="navbar-item"}}<a href="#" {{action 'invalidateSession'}} id="navbar_item">{{t "navbar.logout"}}</a>{{/link-to}}
      {{/if}}
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>