<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>{{t  "table.employee"}}</th>
    <th>{{t  "table.startDay"}}</th>
    <th>{{t  "table.endDay"}}</th>
    <th>{{t  "table.totalDays"}}</th>
    <th>{{t  "table.type"}}</th>
    <th>{{t  "table.state"}}</th>
    <th>{{t  "table.options"}}</th>
  </tr>
  </thead>
  <tbody>
  {{#each data as |holiday|}}
    <tr>
      <td>
        {{holiday.user.username}}
      </td>
      <td>
        {{moment-format holiday.startDay}}
      </td>
      <td>
        {{moment-format holiday.endDay}}
      </td>
      <td>
        {{holiday.businessDays}}
      </td>
      <td>
        {{holiday.vacationType.name}}
      </td>
      <td>
        {{holiday.state}}
      </td>
      <td>
        <button class=" button" {{action 'showModalForm' holiday}}><i class="fa fa-edit" aria-hidden="true"></i></button>
        <button class=" button is-danger" {{action 'deleteHoliday' holiday}}><i class="fa fa-window-close" aria-hidden="true"></i></button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table> 
{{#if isShowingForm}}
  {{#modal-dialog targetAttachment="center" translucentOverlay=true onClickOverlay="closeModal"}}
        {{modal-edit editId=requestId close="closeModal"}}
  {{/modal-dialog}}
{{/if}}
{{yield}}