<table class="table table-bordered table-striped is-responsive">
  <thead>
  <tr>
    <th>{{t "usersTable.username"}}</th>
    <th>{{t "usersTable.name"}}</th>
    <th>{{t "usersTable.surname"}}</th>
    <th>{{t "usersTable.phone"}}</th>
    <th>{{t "usersTable.email"}}</th>
    <th>{{t "usersTable.role"}}</th>
    <th>{{t "usersTable.remainingDays"}}</th>
    <th>{{t "usersTable.options"}}</th>
  </tr>
  </thead>
  <tbody>
  {{#each data as |user|}}

    <tr>
        <td>
          {{user.username}}
      </td>
      <td>
        {{user.name}}
      </td>
      <td>
          {{user.surname}}
      </td>
      <td>
        {{user.phone}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        {{user.role}}
      </td>
      <td>
        {{user.remainingDays}}
      </td>
      <td>
        {{#link-to 'users.edit' user.id class="button"}}<i class="fa fa-edit" aria-hidden="true"></i>{{/link-to}}
        <button class=" button is-danger" {{action 'deleteUser' user}}><i class="fa fa-window-close" aria-hidden="true"></i></button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table> 
{{yield}}