<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Employee</th>
    <th>Start Day</th>
    <th>End Day</th>
    <th>Total Days</th>
    <th>Type</th>
    <th>State</th>
  </tr>
  </thead>
  <tbody>
  {{#each data as |holiday|}}
    <tr>
      <td>
        {{holiday.user.username}}
      </td>
      <td>
        {{moment-format holiday.startDay 'MM-DD-YYYY'}}
      </td>
      <td>
        {{moment-format holiday.endDay 'MM-DD-YYYY'}}
      </td>
      <td>
        {{holiday.totalDays}}
      </td>
      <td>
        {{holiday.vacationType.name}}
      </td>
      <td>
        {{holiday.state}}<button class=" button is-danger is-pulled-right" {{action 'deleteHoliday' holiday}}><i class="fa fa-window-close" aria-hidden="true"></i></button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table> 
{{yield}}