<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>{{t  "table.employee"}}</th>
    <th>{{t  "table.startDay"}}</th>
    <th>{{t  "table.endDay"}}</th>
    <th>{{t  "table.totalDays"}}</th>
    <th>{{t  "table.type"}}</th>
    <th>{{t  "table.state"}}</th>
    <th>{{t  "table.options"}}</th>
  </tr>
  </thead>
  <tbody>
  {{#each data as |holiday|}}
    <tr>
      <td>
        {{holiday.user.username}}
      </td>
      <td>
        {{moment-format holiday.startDay 'MM-DD-YYYY'}}
      </td>
      <td>
        {{moment-format holiday.endDay 'MM-DD-YYYY'}}
      </td>
      <td>
        {{holiday.businessDays}}
      </td>
      <td>
        {{holiday.vacationType.name}}
      </td>
      <td>
        {{holiday.state}}
      </td>
      <td>
        <button type="submit" class="button is-success" {{action 'toAccept' holiday}}>Accept</button>
        <button type="submit" class="button is-danger" {{action "toDeny" holiday}}>Deny</button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table> 
{{yield}}