<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>{{t  "table.startDay"}}</th>
    <th>{{t  "table.endDay"}}</th>
    <th>{{t  "table.totalDays"}}</th>
    <th>{{t  "table.type"}}</th>
    <th>{{t  "table.state"}}</th>
  </tr>
  </thead>
  <tbody>
  {{#each data as |holiday|}}
  {{#if holiday.isMe}}
    <tr>
      <td>
        {{moment-format holiday.startDay}}
      </td>
      <td>
        {{moment-format holiday.endDay}}
      </td>
      <td>
        {{holiday.businessDays}}
      </td>
      <td>
        {{holiday.vacationType.name}}   
      </td>
      <td>
        {{holiday.state}}<button class=" button is-danger is-pulled-right" {{action 'deleteHoliday' holiday}}><i class="fa fa-window-close" aria-hidden="true"></i></button>
      </td>
    </tr>
    {{/if}}
  {{/each}}
  </tbody>
</table> 
{{yield}}
{{#if showMessage}}
        {{#modal-dialog attachment='top center' targetAttachment='bottom center' onClickOverlay="closeModal"}}
        <div class="is-success" style="color:white">You have deleted a request</div>
        {{/modal-dialog}}
{{/if}}