{{#if currentUser.user.isAdmin}}
    <h1 class="text-center title">Requests</h1>
    {{calendar-comp}}
<div class="tabs is-boxed">
  <ul>
    <li class="" id="calendar">
      <a>
        {{fa-icon "calendar"}}
        <span>&nbsp;All</span>
      </a>
    </li>
    <li id="table">
      <a>
        {{fa-icon "list-ol"}}
        <span >&nbsp;Pending</span>
      </a>
    </li>
  </ul>
</div>
    <h1 class="text-center title">All</h1>
    {{table-all}}
{{else}}
<h1 class="text-center text-danger font-italic"><u><i>You are not authorized</i></u></h1>
{{/if}}
{{outlet}}