<div class="container">
    {{#if session.isAuthenticated}}
     {{#if currentUser.user}}
      <h1>Welcome {{currentUser.user.username}}!!!!</h1>
      <h3>These are your data</h3>
        <div>Username: {{currentUser.user.username}}</div>
        <div>Name: {{currentUser.user.name}}</div>
        <div>Role: {{currentUser.user.role}}</div>
    {{/if}}
    {{else}}
    <h1>You are not authorized</h1>
{{/if}} 
</div>
{{outlet}}